[run]
source = akvo
omit =
    akvo/rsr/migrations/*
    akvo/codelists/migrations/*
    akvo/codelists/store/*
    akvo/iati/imports/mappers/CordaidZip/*
    akvo/scripts/*
    akvo/stats/*
    akvo/handler.py
    akvo/wsgi.py
    # Cheating a lot here obviously:
    akvo/rest/*
    # akvo/rsr/*
    akvo/rsr/tests/deployed_code_tests.py
    akvo/rsr/management/*
    akvo/rsr/models/*
    akvo/rsr/views/*
    akvo/rsr/templatetags/*
    akvo/rsr/tests/*
    akvo/rsr/sorl_processors.py
    akvo/rsr/decorators.py
    akvo/rsr/feeds.py
    akvo/rsr/admin_actions.py
    akvo/rsr/mixins.py
    akvo/rsr/admin.py
    akvo/rsr/forms.py
    akvo/rsr/middleware.py
    akvo/rsr/backends.py
    akvo/rsr/signals.py
    akvo/rsr/filters.py
    akvo/rsr/fields.py
    akvo/rsr/validators.py
    akvo/rsr/context_processors.py
    akvo/rsr/permissions.py

[report]
exclude_lines =
    pragma: no cover
    if settings.DEBUG:
    def __unicode__
    if 'TRAVIS' in os.environ:
    if 'rosetta' in settings.INSTALLED_APPS:
    if not chunk:
    raise NotImplementedError
sort = Cover
# fail_under = 100
